<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218383272866-7i2pj2hdal3sgr9rasgeviolg0phj11e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218383272866-7i2pj2hdal3sgr9rasgeviolg0phj11e</string>
	<key>API_KEY</key>
	<string>AIzaSyBP69EsbXE-hSbIm6y9_w-fMeR0FJ9flcE</string>
	<key>GCM_SENDER_ID</key>
	<string>218383272866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.XuAutomation.Nutrix</string>
	<key>PROJECT_ID</key>
	<string>nutrix-937ad</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrix-937ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218383272866:ios:3a9e3494b49565be7200fb</string>
	<key>DATABASE_URL</key>
	<string>https://nutrix-937ad-default-rtdb.firebaseio.com</string>
</dict>
</plist>